

# Default ignored files
/shelf/
/workspace.xml

config.yml
.wav
.mps
.ogg
.mp4
.idea/httpRequests
.idea
*.py[cod]
*$py.class
*.so
.Python
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec
*.log
local_settings.py
instance/
.webassets-cache
.python-version
.ipynb_checkpoints
venv/
ENV/
